PORT=5500
SMTP_HOST=smtp.gmail.com
SMTP_PORT=465
SMTP_SECURE=true
SMTP_USER=soluxtecnologialtda@gmail.com
SMTP_PASS=jbyo fmrh sjnt wiqg
MAIL_TO=soluxtecnologialtda@gmail.com
MAIL_FROM_NAME=Solux Tecnologia
